.google-signin-btn {
    display: inline-flex;
    margin: 1em;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-blue-buttons);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-signin-btn:hover {
    background-color: var(--light-blue-buttons-secondary);
}

.google-signin-icon {
    width: 18px;
    margin-right: 10px;
}