.postCard{
    height: 100vh;
    width: 100vw;

    background-color: var(--white-bone);

    margin: 1em 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postInteractions{
    width: 100vw;
    height: 5vh;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.postCardHeader{
    width: 100vw;
    height: 5vh;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.buttonsInteractions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userIcon{
    height: 3em;
    width: 3em;
    margin-right: 1em;
    padding-left: 1em;
}

.postContent{
    height: 60vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.postContentImgs{
    height: 60vh;
    width: 100vw;
}

.likeIcon, .commentIcon{
    font-size: 2em;
    margin: 0.3em;
}

.likedIcon{
    color: red;
    font-size: 2em;
    margin: 0.3em;
}

.postData{
    height: 30vh;
    width: 100vw;
    text-align: start;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.postLikes{
    height: 5vh;
    width: 100vw;
    display: flex;
}

.postLikes p, .postText p{
    padding-left: 0.5em;
}

.postText{
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}